/* ==========================================================================
   Header styles - begin
   ========================================================================== */
/* common mixins - start */
/* common mixins - end */
/* mixins styles - start */
/* mixins styles - end */
/* ==========================================================================
   Header styles - begin
   ========================================================================== */
.eltdf-page-header {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  margin: 0;
  padding: 0;
  z-index: 110;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* ==========================================================================
    #General header layout - start
    ========================================================================== */
  /* ==========================================================================
    #General header layout - end
    ========================================================================== */
  /* ==========================================================================
    #Logo area styles - start
    ========================================================================== */
  /* ==========================================================================
    #Logo area styles - end
    ========================================================================== */
  /* ==========================================================================
    #Menu area styles - start
    ========================================================================== */
  /* ==========================================================================
    #Menu area styles - end
    ========================================================================== */
  /* ==========================================================================
    #Specific styles - start
    ========================================================================== */
  /* ==========================================================================
    #Specific styles - end
    ========================================================================== */
}

.eltdf-page-header a img {
  display: block;
}

.eltdf-page-header p {
  margin: 0;
}

.eltdf-page-header .eltdf-vertical-align-containers {
  padding: 0 40px;
}

.eltdf-paspartu-enabled .eltdf-page-header .eltdf-vertical-align-containers {
  padding: 0;
}

.eltdf-page-header .eltdf-grid {
  height: 100%;
}

.eltdf-page-header .eltdf-grid .eltdf-vertical-align-containers {
  padding: 0;
  -webkit-transition: background-color 0.3s ease;
  -o-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

.eltdf-page-header .eltdf-logo-area {
  position: relative;
  height: 90px;
  overflow: hidden;
  background-color: #fff;
}

.eltdf-page-header .eltdf-logo-area .eltdf-logo-wrapper a {
  max-height: 90px;
}

.eltdf-page-header .eltdf-menu-area {
  position: relative;
  height: 90px;
  background-color: #fff;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.eltdf-boxed .eltdf-page-header .eltdf-menu-area {
  padding: 0;
}

.eltdf-page-header .eltdf-menu-area .eltdf-logo-wrapper a {
  max-height: 90px;
}

.eltdf-page-header .eltdf-menu-area .widget {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
}

.eltdf-logo-area-border-disable .eltdf-page-header .eltdf-logo-area {
  border: none;
}

.eltdf-logo-area-in-grid-border-disable .eltdf-page-header .eltdf-logo-area .eltdf-grid .eltdf-vertical-align-containers {
  border: none;
}

.eltdf-header-logo-area-in-grid-padding .eltdf-page-header .eltdf-logo-area .eltdf-vertical-align-containers {
  padding: 0 25px;
}

.eltdf-menu-area-shadow-disable .eltdf-page-header .eltdf-menu-area {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.eltdf-menu-area-shadow-disable .eltdf-page-header .eltdf-menu-area .eltdf-grid .eltdf-vertical-align-containers {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.eltdf-menu-area-border-disable .eltdf-page-header .eltdf-menu-area {
  border: none;
}

.eltdf-menu-area-in-grid-border-disable .eltdf-page-header .eltdf-menu-area .eltdf-grid .eltdf-vertical-align-containers {
  border: none;
}

.eltdf-header-logo-area-in-grid-padding .eltdf-page-header .eltdf-menu-area .eltdf-vertical-align-containers {
  padding: 0 25px;
}

/* ==========================================================================
#Light header - begin
========================================================================== */
.eltdf-light-header .eltdf-page-header > div:not(.fixed):not(.eltdf-sticky-header) .eltdf-logo-wrapper .eltdf-light-logo {
  opacity: 1;
}

.eltdf-light-header .eltdf-page-header > div:not(.fixed):not(.eltdf-sticky-header) .eltdf-logo-wrapper .eltdf-normal-logo,
.eltdf-light-header .eltdf-page-header > div:not(.fixed):not(.eltdf-sticky-header) .eltdf-logo-wrapper .eltdf-dark-logo {
  opacity: 0;
}

.eltdf-light-header .eltdf-page-header > div:not(.fixed):not(.eltdf-sticky-header) .eltdf-menu-area {
  color: #fff !important;
}

.eltdf-light-header .eltdf-page-header > div:not(.fixed):not(.eltdf-sticky-header) .eltdf-menu-area .widget {
  color: #fff !important;
}

.eltdf-light-header .eltdf-page-header > div:not(.fixed):not(.eltdf-sticky-header) .eltdf-menu-area .widget p,
.eltdf-light-header .eltdf-page-header > div:not(.fixed):not(.eltdf-sticky-header) .eltdf-menu-area .widget a,
.eltdf-light-header .eltdf-page-header > div:not(.fixed):not(.eltdf-sticky-header) .eltdf-menu-area .widget span,
.eltdf-light-header .eltdf-page-header > div:not(.fixed):not(.eltdf-sticky-header) .eltdf-menu-area .widget i,
.eltdf-light-header .eltdf-page-header > div:not(.fixed):not(.eltdf-sticky-header) .eltdf-menu-area .widget .widgettitle {
  color: #fff !important;
}

.eltdf-light-header .eltdf-page-header > div:not(.fixed):not(.eltdf-sticky-header) .eltdf-menu-area .widget a:hover {
  color: #fff !important;
}

.eltdf-light-header .eltdf-page-header > div:not(.fixed):not(.eltdf-sticky-header).eltdf-menu-area {
  color: #fff !important;
}

.eltdf-light-header .eltdf-page-header > div:not(.fixed):not(.eltdf-sticky-header).eltdf-menu-area .widget {
  color: #fff !important;
}

.eltdf-light-header .eltdf-page-header > div:not(.fixed):not(.eltdf-sticky-header).eltdf-menu-area .widget p,
.eltdf-light-header .eltdf-page-header > div:not(.fixed):not(.eltdf-sticky-header).eltdf-menu-area .widget a,
.eltdf-light-header .eltdf-page-header > div:not(.fixed):not(.eltdf-sticky-header).eltdf-menu-area .widget span,
.eltdf-light-header .eltdf-page-header > div:not(.fixed):not(.eltdf-sticky-header).eltdf-menu-area .widget i,
.eltdf-light-header .eltdf-page-header > div:not(.fixed):not(.eltdf-sticky-header).eltdf-menu-area .widget .widgettitle {
  color: #fff !important;
}

.eltdf-light-header .eltdf-page-header > div:not(.fixed):not(.eltdf-sticky-header).eltdf-menu-area .widget a:hover {
  color: #fff !important;
}

/* ==========================================================================
#Light header - end
========================================================================== */
/* ==========================================================================
#Dark header - begin
========================================================================== */
.eltdf-dark-header .eltdf-page-header > div:not(.fixed):not(.eltdf-sticky-header) .eltdf-logo-wrapper .eltdf-dark-logo {
  opacity: 1;
}

.eltdf-dark-header .eltdf-page-header > div:not(.fixed):not(.eltdf-sticky-header) .eltdf-logo-wrapper .eltdf-normal-logo,
.eltdf-dark-header .eltdf-page-header > div:not(.fixed):not(.eltdf-sticky-header) .eltdf-logo-wrapper .eltdf-light-logo {
  opacity: 0;
}

.eltdf-dark-header .eltdf-page-header > div:not(.fixed):not(.eltdf-sticky-header) .eltdf-menu-area {
  color: #000 !important;
}

.eltdf-dark-header .eltdf-page-header > div:not(.fixed):not(.eltdf-sticky-header) .eltdf-menu-area .second .widget a,
.eltdf-dark-header .eltdf-page-header > div:not(.fixed):not(.eltdf-sticky-header) .eltdf-menu-area .second .widget a span {
  color: #fff !important;
  font-size: inherit;
}

.eltdf-dark-header .eltdf-page-header > div:not(.fixed):not(.eltdf-sticky-header) .eltdf-menu-area .second .widget a:hover,
.eltdf-dark-header .eltdf-page-header > div:not(.fixed):not(.eltdf-sticky-header) .eltdf-menu-area .second .widget a span:hover {
  color: #fff !important;
}

.eltdf-dark-header .eltdf-page-header > div:not(.fixed):not(.eltdf-sticky-header) .eltdf-menu-area .widget {
  color: #000 !important;
}

.eltdf-dark-header .eltdf-page-header > div:not(.fixed):not(.eltdf-sticky-header) .eltdf-menu-area .widget p,
.eltdf-dark-header .eltdf-page-header > div:not(.fixed):not(.eltdf-sticky-header) .eltdf-menu-area .widget a,
.eltdf-dark-header .eltdf-page-header > div:not(.fixed):not(.eltdf-sticky-header) .eltdf-menu-area .widget span,
.eltdf-dark-header .eltdf-page-header > div:not(.fixed):not(.eltdf-sticky-header) .eltdf-menu-area .widget i,
.eltdf-dark-header .eltdf-page-header > div:not(.fixed):not(.eltdf-sticky-header) .eltdf-menu-area .widget .widgettitle {
  color: #000 !important;
}

.eltdf-dark-header .eltdf-page-header > div:not(.fixed):not(.eltdf-sticky-header) .eltdf-menu-area .widget a:hover {
  color: #222222 !important;
}

.eltdf-dark-header .eltdf-page-header > div:not(.fixed):not(.eltdf-sticky-header).eltdf-menu-area {
  color: #000 !important;
}

.eltdf-dark-header .eltdf-page-header > div:not(.fixed):not(.eltdf-sticky-header).eltdf-menu-area .widget {
  color: #000 !important;
}

.eltdf-dark-header .eltdf-page-header > div:not(.fixed):not(.eltdf-sticky-header).eltdf-menu-area .widget p,
.eltdf-dark-header .eltdf-page-header > div:not(.fixed):not(.eltdf-sticky-header).eltdf-menu-area .widget a,
.eltdf-dark-header .eltdf-page-header > div:not(.fixed):not(.eltdf-sticky-header).eltdf-menu-area .widget span,
.eltdf-dark-header .eltdf-page-header > div:not(.fixed):not(.eltdf-sticky-header).eltdf-menu-area .widget i,
.eltdf-dark-header .eltdf-page-header > div:not(.fixed):not(.eltdf-sticky-header).eltdf-menu-area .widget .widgettitle {
  color: #000 !important;
}

.eltdf-dark-header .eltdf-page-header > div:not(.fixed):not(.eltdf-sticky-header).eltdf-menu-area .widget a:hover {
  color: #222222 !important;
}

/* ==========================================================================
#Dark header - end
========================================================================== */
/* ==========================================================================
   Header end - end
   ========================================================================== */
/* ==========================================================================
   Header widgets styles - begin
   ========================================================================== */
.eltdf-page-header .widget,
.eltdf-top-bar .widget,
.eltdf-sticky-header .widget,
.eltdf-mobile-header .widget {
  /* To display none */
}

.eltdf-page-header .widget.widget_pages, .eltdf-page-header .widget.widget_archive, .eltdf-page-header .widget.widget_categories, .eltdf-page-header .widget.widget_meta, .eltdf-page-header .widget.widget_recent_entries, .eltdf-page-header .widget.widget_recent_comments, .eltdf-page-header .widget.widget_rss, .eltdf-page-header .widget.widget_calendar, .eltdf-page-header .widget.widget_rss, .eltdf-page-header .widget.widget_archive, .eltdf-page-header .widget.widget_categories, .eltdf-page-header .widget.widget_tag_cloud, .eltdf-page-header .widget.widget_nav_menu, .eltdf-page-header .widget.widget_search,
.eltdf-top-bar .widget.widget_pages,
.eltdf-top-bar .widget.widget_archive,
.eltdf-top-bar .widget.widget_categories,
.eltdf-top-bar .widget.widget_meta,
.eltdf-top-bar .widget.widget_recent_entries,
.eltdf-top-bar .widget.widget_recent_comments,
.eltdf-top-bar .widget.widget_rss,
.eltdf-top-bar .widget.widget_calendar,
.eltdf-top-bar .widget.widget_rss,
.eltdf-top-bar .widget.widget_archive,
.eltdf-top-bar .widget.widget_categories,
.eltdf-top-bar .widget.widget_tag_cloud,
.eltdf-top-bar .widget.widget_nav_menu,
.eltdf-top-bar .widget.widget_search,
.eltdf-sticky-header .widget.widget_pages,
.eltdf-sticky-header .widget.widget_archive,
.eltdf-sticky-header .widget.widget_categories,
.eltdf-sticky-header .widget.widget_meta,
.eltdf-sticky-header .widget.widget_recent_entries,
.eltdf-sticky-header .widget.widget_recent_comments,
.eltdf-sticky-header .widget.widget_rss,
.eltdf-sticky-header .widget.widget_calendar,
.eltdf-sticky-header .widget.widget_rss,
.eltdf-sticky-header .widget.widget_archive,
.eltdf-sticky-header .widget.widget_categories,
.eltdf-sticky-header .widget.widget_tag_cloud,
.eltdf-sticky-header .widget.widget_nav_menu,
.eltdf-sticky-header .widget.widget_search,
.eltdf-mobile-header .widget.widget_pages,
.eltdf-mobile-header .widget.widget_archive,
.eltdf-mobile-header .widget.widget_categories,
.eltdf-mobile-header .widget.widget_meta,
.eltdf-mobile-header .widget.widget_recent_entries,
.eltdf-mobile-header .widget.widget_recent_comments,
.eltdf-mobile-header .widget.widget_rss,
.eltdf-mobile-header .widget.widget_calendar,
.eltdf-mobile-header .widget.widget_rss,
.eltdf-mobile-header .widget.widget_archive,
.eltdf-mobile-header .widget.widget_categories,
.eltdf-mobile-header .widget.widget_tag_cloud,
.eltdf-mobile-header .widget.widget_nav_menu,
.eltdf-mobile-header .widget.widget_search {
  display: none !important;
}

.eltdf-top-bar .widget {
  color: #fff;
}

.eltdf-top-bar .widget a {
  color: #fff;
}

.eltdf-top-bar .widget a:hover {
  color: #222222;
}

/* ==========================================================================
   Header widgets styles - end
   ========================================================================== */
/* ==========================================================================
   Header logo styles - begin
   ========================================================================== */
.eltdf-logo-wrapper {
  display: inline-block;
  vertical-align: middle;
}

.eltdf-logo-wrapper a {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  max-width: 100%;
}

.eltdf-logo-wrapper a img {
  height: 100%;
  width: auto;
  -webkit-transition: opacity 0.2s ease;
  -o-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;
}

.eltdf-logo-wrapper a img.eltdf-normal-logo {
  opacity: 1;
}

.eltdf-logo-wrapper a img.eltdf-dark-logo {
  opacity: 0;
  -webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);
}

.eltdf-logo-wrapper a img.eltdf-light-logo {
  opacity: 0;
  -webkit-transform: translateY(-200%);
  -ms-transform: translateY(-200%);
  transform: translateY(-200%);
}

/* ==========================================================================
   Header logo styles - end
   ========================================================================== */
/* ==========================================================================
   Header main menu style - begin
   ========================================================================== */
.eltdf-main-menu {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  height: 100%;
  width: auto;
}

.eltdf-main-menu ul {
  list-style: none outside none;
  margin: 0;
  padding: 0;
  text-align: left;
}

.eltdf-main-menu ul li {
  position: relative;
  display: inline-block;
  float: left;
  padding: 0;
  margin: 0;
  text-transform: uppercase;
}

.eltdf-main-menu ul li a {
  font-size: 10px;
  letter-spacing: .15em;
  line-height: 20px;
  color: #fff;
  font-weight: 500;
}

.eltdf-main-menu ul li a i:before {
  margin: 0 7px 0 0;
}

.eltdf-main-menu ul li a .menu_icon_wrapper {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}

.eltdf-main-menu ul li a .eltdf-menu-featured-icon {
  position: relative;
  top: -4px;
  left: 5px;
  color: currentColor;
  font-size: 10px;
  margin: 0;
}

.eltdf-main-menu ul li a .eltdf-menu-featured-icon:before {
  margin: 0;
}

.eltdf-main-menu > ul {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  height: 100%;
}

.eltdf-main-menu > ul > li {
  float: left;
  height: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.eltdf-main-menu > ul > li > a {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  height: 100%;
  padding: 0 22px;
  color: #000;
  line-height: 24px;
  font-size: 13px;
  letter-spacing: 0.15em;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.eltdf-main-menu > ul > li > a > span.item_outer {
  position: relative;
  display: block;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.eltdf-main-menu > ul > li > a > span.item_outer .item_text {
  position: relative;
  display: inline-block;
  vertical-align: top;
}

.eltdf-main-menu > ul > li > a > span.item_outer .item_text:before {
  content: '';
  position: absolute;
  bottom: -2px;
  height: 0;
  background-color: currentColor;
  left: 0;
  width: 100%;
  z-index: -1;
  -webkit-transition: all 0.2s cubic-bezier(0.43, 0.1, 0, 0.82);
  -o-transition: all 0.2s cubic-bezier(0.43, 0.1, 0, 0.82);
  transition: all 0.2s cubic-bezier(0.43, 0.1, 0, 0.82);
}

.eltdf-main-menu > ul > li.eltdf-active-item > a > span.item_outer .item_text:before, .eltdf-main-menu > ul > li:hover > a > span.item_outer .item_text:before {
  height: 3px;
}

.eltdf-main-menu > ul > li.eltdf-active-item > a {
  color: #222222;
}

.eltdf-main-menu > ul > li.has_sub > a .eltdf-menu-arrow {
  display: none;
}

.eltdf-light-header .eltdf-page-header > div:not(.eltdf-sticky-header):not(.fixed) .eltdf-main-menu > ul > li > a {
  color: #fff;
}

.eltdf-light-header .eltdf-page-header > div:not(.eltdf-sticky-header):not(.fixed) .eltdf-main-menu > ul > li > a:hover {
  color: #fff;
}

.eltdf-light-header .eltdf-page-header > div:not(.eltdf-sticky-header):not(.fixed) .eltdf-main-menu > ul > li > a:hover > span.item_outer .item_text:before {
  background-color: #fff;
}

.eltdf-light-header .eltdf-page-header > div:not(.eltdf-sticky-header):not(.fixed) .eltdf-main-menu > ul > li.eltdf-active-item > a {
  color: #fff;
}

.eltdf-light-header .eltdf-page-header > div:not(.eltdf-sticky-header):not(.fixed) .eltdf-main-menu > ul > li.eltdf-active-item > a > span.item_outer .item_text:before {
  background-color: #fff;
}

.eltdf-dark-header .eltdf-page-header > div:not(.eltdf-sticky-header):not(.fixed) .eltdf-main-menu > ul > li > a {
  color: #000;
}

.eltdf-dark-header .eltdf-page-header > div:not(.eltdf-sticky-header):not(.fixed) .eltdf-main-menu > ul > li > a:hover {
  color: #222222;
}

.eltdf-dark-header .eltdf-page-header > div:not(.eltdf-sticky-header):not(.fixed) .eltdf-main-menu > ul > li > a:hover > span.item_outer .item_text:before {
  background-color: #222222;
}

.eltdf-dark-header .eltdf-page-header > div:not(.eltdf-sticky-header):not(.fixed) .eltdf-main-menu > ul > li.eltdf-active-item > a {
  color: #222222;
}

.eltdf-dark-header .eltdf-page-header > div:not(.eltdf-sticky-header):not(.fixed) .eltdf-main-menu > ul > li.eltdf-active-item > a > span.item_outer .item_text:before {
  background-color: #222222;
}

/* Narrow drop down styles
   ========================================================================== */
.eltdf-drop-down .second {
  position: absolute;
  display: block;
  left: -10px;
  top: 100%;
  visibility: hidden;
  overflow: hidden;
  opacity: 0;
  z-index: 10;
  -webkit-transition: top 0.15s ease-out;
  -o-transition: top 0.15s ease-out;
  transition: top 0.15s ease-out;
}

.eltdf-drop-down .second.eltdf-drop-down-start {
  visibility: visible;
  overflow: visible;
  opacity: 1;
  -webkit-transition: opacity 0.2s ease-out;
  -o-transition: opacity 0.2s ease-out;
  transition: opacity 0.2s ease-out;
}

.eltdf-drop-down .second.right {
  right: -10px;
  left: auto;
}

.eltdf-drop-down .second .inner {
  position: relative;
  display: block;
  padding: 0;
  margin: 0;
  z-index: 997;
  -webkit-box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.03);
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.03);
}

.eltdf-drop-down .second .inner ul li {
  display: block;
  float: none;
  height: auto;
}

.eltdf-drop-down .second .inner ul li .widget {
  width: 100%;
  margin: 0 !important;
}

.eltdf-drop-down .second .inner ul li a {
  display: block;
  float: none;
  margin: 0;
  padding: 6px 32px;
}

.eltdf-drop-down .second .inner ul li a .item_outer {
  position: relative;
  display: block;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: padding 0.2s ease-in-out;
  -o-transition: padding 0.2s ease-in-out;
  transition: padding 0.2s ease-in-out;
}

.eltdf-drop-down .second .inner ul li a .item_outer:before {
  content: '';
  position: absolute;
  top: calc(50% - 2px);
  left: -20px;
  color: inherit;
  font-size: 18px;
  width: 4px;
  height: 4px;
  border-radius: 100%;
  background-color: #fff;
  line-height: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition: left 0.2s ease-in-out;
  -o-transition: left 0.2s ease-in-out;
  transition: left 0.2s ease-in-out;
}

.eltdf-drop-down .second .inner ul li a:hover .item_outer {
  padding: 0 10px 0 14px;
}

.eltdf-drop-down .second .inner ul li a:hover .item_outer:before {
  left: 0;
}

.eltdf-drop-down .second .inner ul li.current-menu-ancestor > a .item_outer,
.eltdf-drop-down .second .inner ul li.current-menu-item > a .item_outer {
  padding: 0 10px 0 14px;
}

.eltdf-drop-down .second .inner ul li.current-menu-ancestor > a .item_outer:before,
.eltdf-drop-down .second .inner ul li.current-menu-item > a .item_outer:before {
  left: 0;
}

.eltdf-drop-down .second .inner ul li.sub > a .item_outer:after {
  position: absolute;
  display: inline-block;
  vertical-align: middle;
  top: -1px;
  right: 0;
  content: '\f3d3';
  font-family: 'Ionicons';
  font-size: 17px;
  font-weight: normal;
  font-style: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.eltdf-drop-down .second .inner ul.right li a .item_outer:before {
  content: '\f3d5';
  left: auto;
  right: -20px;
  -webkit-transition: right 0.2s ease-in-out;
  -o-transition: right 0.2s ease-in-out;
  transition: right 0.2s ease-in-out;
}

.eltdf-drop-down .second .inner ul.right li a:hover .item_outer {
  padding: 0 14px 0 10px;
}

.eltdf-drop-down .second .inner ul.right li a:hover .item_outer:before {
  left: auto;
  right: 0;
}

.eltdf-drop-down .second .inner ul.right li.current-menu-ancestor > a .item_outer,
.eltdf-drop-down .second .inner ul.right li.current-menu-item > a .item_outer {
  padding: 0 14px 0 10px;
}

.eltdf-drop-down .second .inner ul.right li.current-menu-ancestor > a .item_outer:before,
.eltdf-drop-down .second .inner ul.right li.current-menu-item > a .item_outer:before {
  left: auto;
  right: 0;
}

.eltdf-drop-down .second .inner ul.right li.sub > a .item_outer:after {
  right: auto;
  left: 0;
  content: "\f3d2";
}

.eltdf-drop-down .second .inner ul.right li a {
  text-align: right;
}

.eltdf-drop-down .second .inner ul.right li ul {
  left: -100%;
}

.eltdf-drop-down li.left_position .second {
  left: 0;
}

.eltdf-drop-down li.right_position .second {
  left: auto;
  right: 0;
}

.eltdf-drop-down > ul > li:hover > .second {
  z-index: 20;
}

.eltdf-drop-down .narrow .second .inner ul {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  background-color: #000;
  padding: 23px 0;
}

.eltdf-drop-down .narrow .second .inner ul li {
  width: 230px;
}

.eltdf-drop-down .narrow .second .inner ul li ul {
  position: absolute;
  left: 100%;
  top: -23px;
  height: auto;
  opacity: 0;
  overflow: hidden;
  z-index: 10;
  -webkit-box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.03);
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.03);
  -webkit-transform: translateZ(0);
  -webkit-transition: opacity 0.4s ease-out;
  -o-transition: opacity 0.4s ease-out;
  transition: opacity 0.4s ease-out;
}

.eltdf-drop-down .narrow .second .inner ul li:hover ul {
  z-index: 20;
  opacity: 1;
}

.eltdf-drop-down .narrow .second .inner ul.right li ul {
  left: -100%;
}

/* Wide drop down styles
   ========================================================================== */
.eltdf-drop-down .wide.eltdf-menu-3-columns .second .inner > ul {
  padding: 35px 0;
}

.eltdf-drop-down .wide.eltdf-menu-3-columns .second .inner > ul > li {
  width: 33.3333%;
  padding: 0 25px;
}

.eltdf-drop-down .wide.eltdf-menu-3-columns .second .inner > ul > li a {
  font-size: inherit;
  color: #fff;
}

.eltdf-drop-down .wide.eltdf-menu-3-columns .second .inner > ul > li a:hover {
  color: rgba(255, 255, 255, 0.8);
}

.eltdf-drop-down .wide .second .inner {
  background-color: #000;
  text-align: center;
}

.eltdf-drop-down .wide .second .inner ul li a {
  padding: 6px 0;
}

.eltdf-drop-down .wide .second .inner ul li .eltdf-post-image {
  margin-right: 17px;
}

.eltdf-drop-down .wide .second .inner ul li .eltdf-post-image a {
  padding: 0;
}

.eltdf-drop-down .wide .second .inner ul li .eltdf-post-image a img {
  margin: 0;
  padding: 0;
  width: 100%;
}

.eltdf-drop-down .wide .second .inner ul li ul {
  position: relative;
  display: block;
  top: 0;
  left: 0;
  visibility: visible;
}

.eltdf-drop-down .wide .second .inner ul li ul li:last-child a {
  padding-bottom: 0;
}

.eltdf-drop-down .wide .second .inner > ul {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  padding: 35px 0 45px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
}

.eltdf-wide-dropdown-menu-content-in-grid .eltdf-drop-down .wide .second .inner > ul {
  width: 1100px;
}

@media only screen and (min-width: 1600px) {
  .eltdf-grid-1500.eltdf-wide-dropdown-menu-content-in-grid .eltdf-drop-down .wide .second .inner > ul {
    width: 1500px;
  }
}

@media only screen and (min-width: 1400px) {
  .eltdf-grid-1300.eltdf-wide-dropdown-menu-content-in-grid .eltdf-drop-down .wide .second .inner > ul {
    width: 1300px;
  }
}

@media only screen and (min-width: 1300px) {
  .eltdf-grid-1200.eltdf-wide-dropdown-menu-content-in-grid .eltdf-drop-down .wide .second .inner > ul {
    width: 1200px;
  }
}

@media only screen and (min-width: 1200px) {
  .eltdf-grid-1000.eltdf-wide-dropdown-menu-content-in-grid .eltdf-drop-down .wide .second .inner > ul {
    width: 1000px;
  }
}

@media only screen and (min-width: 1024px) {
  .eltdf-grid-800.eltdf-wide-dropdown-menu-content-in-grid .eltdf-drop-down .wide .second .inner > ul {
    width: 800px;
  }
}

.eltdf-drop-down .wide .second .inner > ul > li {
  float: left;
  width: 25%;
  margin: 0;
  padding: 0 26px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.eltdf-drop-down .wide .second .inner > ul > li:nth-child(4n+1) {
  clear: both;
}

.eltdf-drop-down .wide .second .inner > ul > li > a {
  padding: 0 0 13px;
  color: #fff;
  font-size: 19px;
  line-height: 1.1em;
  font-family: "Vidaloka", serif;
  font-weight: 400;
  text-transform: none;
  letter-spacing: 0;
}

.eltdf-drop-down .wide .second .inner > ul > li > a.no_link {
  cursor: default;
}

.eltdf-drop-down .wide .second .inner > ul > li > a .item_outer {
  padding: 0;
  overflow: inherit;
}

.eltdf-drop-down .wide .second .inner > ul > li > a .item_outer:before, .eltdf-drop-down .wide .second .inner > ul > li > a .item_outer:after {
  display: none;
}

.eltdf-drop-down .wide.left_position .second .inner > ul, .eltdf-drop-down .wide.right_position .second .inner > ul {
  width: auto;
  white-space: nowrap;
}

.eltdf-drop-down .wide.left_position .second .inner > ul > li, .eltdf-drop-down .wide.right_position .second .inner > ul > li {
  float: none;
  display: inline-block;
  vertical-align: top;
}

.eltdf-drop-down .wide.left_position .second ul li, .eltdf-drop-down .wide.right_position .second ul li {
  width: 200px;
}

/* ==========================================================================
   Header main menu style - end
   ========================================================================== */
/* ==========================================================================
    #Wide with custom widget area drop down styles - start
    ========================================================================== */
.eltdf-drop-down .wide.eltdf-menu-custom-widget .second > .inner > ul {
  padding: 35px 0 25px;
}

.eltdf-drop-down .wide.eltdf-menu-custom-widget .second > .inner > ul > li {
  width: 100% !important;
  padding: 0;
}

/* ==========================================================================
    #Wide with custom widget area drop down styles - end
    ========================================================================== */
/* ==========================================================================
   Fixed header style - begin
   ========================================================================== */
.eltdf-page-header .eltdf-fixed-wrapper.fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-backface-visibility: hidden;
}

.admin-bar .eltdf-page-header .eltdf-fixed-wrapper.fixed {
  top: 32px;
}

.eltdf-page-header .eltdf-fixed-wrapper.fixed .eltdf-menu-area {
  background-color: #000;
  border-color: #000 !important;
}

.eltdf-page-header .eltdf-fixed-wrapper.fixed .eltdf-menu-area .eltdf-main-menu > ul > li > a {
  color: #fff;
}

.eltdf-page-header .eltdf-fixed-wrapper.fixed .eltdf-search-opener,
.eltdf-page-header .eltdf-fixed-wrapper.fixed .eltdf-side-menu-button-opener,
.eltdf-page-header .eltdf-fixed-wrapper.fixed .eltdf-icon-widget-holder,
.eltdf-page-header .eltdf-fixed-wrapper.fixed .eltdf-shopping-cart-holder .eltdf-header-cart,
.eltdf-page-header .eltdf-fixed-wrapper.fixed .eltdf-social-share-holder.eltdf-dropdown .eltdf-social-share-dropdown-opener {
  color: #fff;
}

.eltdf-page-header .eltdf-fixed-wrapper.fixed .eltdf-logo-wrapper a img.eltdf-light-logo {
  opacity: 1;
}

.eltdf-page-header .eltdf-fixed-wrapper.fixed .eltdf-logo-wrapper a img.eltdf-dark-logo, .eltdf-page-header .eltdf-fixed-wrapper.fixed .eltdf-logo-wrapper a img.eltdf-normal-logo {
  opacity: 0;
}

/* ==========================================================================
   Fixed header style - end
   ========================================================================== */
/* ==========================================================================
   Header Bottom style - begin
   ========================================================================== */
.eltdf-header-bottom.eltdf-header-bottom-opened .eltdf-header-bottom-wrapper {
  -webkit-transform: translate3d(-414px, 0, 0);
  transform: translate3d(-414px, 0, 0);
}

.eltdf-header-bottom .eltdf-page-header .eltdf-bottom-menu-right-widget-holder {
  display: inline-block;
}

@media only screen and (min-width: 1025px) {
  .eltdf-header-bottom .eltdf-slider-fixed {
    position: fixed;
    display: inline-block;
    width: 100%;
    height: 100%;
    z-index: 99;
    top: 0;
    left: 0;
  }
  .eltdf-header-bottom .eltdf-content-inner > .eltdf-full-width {
    background: #fff;
  }
}

.eltdf-header-bottom .eltdf-menu-area .eltdf-position-left-inner {
  height: 100%;
}

.eltdf-header-bottom .eltdf-menu-area .eltdf-bottom-menu-left-widget-holder {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}

.eltdf-header-bottom .eltdf-menu-area .eltdf-main-menu {
  padding-left: 22px;
}

.eltdf-header-bottom .eltdf-menu-area .eltdf-position-right-inner {
  -webkit-align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%;
}

.eltdf-header-bottom .eltdf-menu-area .eltdf-position-left:before,
.eltdf-header-bottom .eltdf-menu-area .eltdf-position-right:before {
  display: none;
}

.eltdf-header-bottom .eltdf-content {
  -webkit-transition: transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  -webkit-transition: -webkit-transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: -webkit-transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  -o-transition: transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1), -webkit-transform 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.eltdf-header-bottom.eltdf-header-bottom-opened .eltdf-content {
  -webkit-transform: translate3d(-414px, 0, 0);
  transform: translate3d(-414px, 0, 0);
}

/* ==========================================================================
   Header Bottom style - end
   ========================================================================== */
/* ==========================================================================
   Header Centered style - begin
   ========================================================================== */
.eltdf-header-centered-logo-down .eltdf-page-header .eltdf-logo-area {
  height: 274px;
  overflow: visible;
  z-index: 2;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.eltdf-header-centered-logo-down .eltdf-page-header .eltdf-logo-area .eltdf-logo-wrapper a {
  max-height: 274px;
}

.eltdf-header-centered-logo-down .eltdf-page-header .eltdf-menu-area {
  height: 74px;
  z-index: 4;
}

.eltdf-header-centered-logo-down .eltdf-page-header .eltdf-menu-area .eltdf-vertical-align-containers .eltdf-position-center-inner,
.eltdf-header-centered-logo-down .eltdf-page-header .eltdf-menu-area .eltdf-vertical-align-containers .eltdf-position-left-inner,
.eltdf-header-centered-logo-down .eltdf-page-header .eltdf-menu-area .eltdf-vertical-align-containers .eltdf-position-right-inner {
  height: 100%;
}

.eltdf-header-centered-logo-down .eltdf-page-header .eltdf-menu-area .eltdf-vertical-align-containers .eltdf-position-right:before {
  display: none;
}

.eltdf-header-centered-logo-down .eltdf-page-header .eltdf-menu-area .eltdf-vertical-align-containers .eltdf-position-right-inner {
  display: -webkit-flex;
  /* Safari */
  -webkit-align-items: center;
  /* Safari 7.0+ */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%;
}

.eltdf-header-centered-logo-down .eltdf-page-header .eltdf-sticky-header .eltdf-position-left-inner {
  height: auto;
}

.eltdf-header-centered-logo-down .eltdf-page-header .eltdf-sticky-header .eltdf-position-right-inner {
  height: 100%;
}

/* ==========================================================================
   Header Centered style - end
   ========================================================================== */
/* ==========================================================================
   Header Centered style - begin
   ========================================================================== */
.eltdf-header-centered .eltdf-page-header .eltdf-logo-area {
  height: 250px;
  overflow: visible;
  z-index: 2;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.eltdf-header-centered .eltdf-page-header .eltdf-logo-area .eltdf-logo-wrapper a {
  max-height: 250px;
}

.eltdf-header-centered .eltdf-page-header .eltdf-menu-area {
  height: 74px;
  z-index: 1;
}

.eltdf-header-centered .eltdf-page-header .eltdf-menu-area .eltdf-vertical-align-containers .eltdf-position-center-inner {
  height: 100%;
}

.eltdf-header-centered .eltdf-page-header .eltdf-sticky-header .eltdf-position-left-inner {
  height: auto;
}

.eltdf-header-centered .eltdf-page-header .eltdf-sticky-header .eltdf-position-right-inner {
  height: 100%;
}

/* ==========================================================================
   Header Centered style - end
   ========================================================================== */
/* ==========================================================================
   Header Standard style - begin
   ========================================================================== */
.eltdf-header-standard .eltdf-menu-area.eltdf-menu-left .eltdf-main-menu {
  width: auto;
  padding: 0 0 0 20px;
}

.eltdf-header-standard .eltdf-menu-area.eltdf-menu-left .eltdf-vertical-align-containers .eltdf-position-left-inner {
  height: 100%;
}

.eltdf-header-standard .eltdf-menu-area.eltdf-menu-left .eltdf-vertical-align-containers .eltdf-position-left:before,
.eltdf-header-standard .eltdf-menu-area.eltdf-menu-left .eltdf-vertical-align-containers .eltdf-position-right:before {
  display: none;
}

.eltdf-header-standard .eltdf-menu-area.eltdf-menu-left .eltdf-vertical-align-containers .eltdf-position-right-inner {
  display: -webkit-flex;
  /* Safari */
  -webkit-align-items: center;
  /* Safari 7.0+ */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%;
}

.eltdf-header-standard .eltdf-menu-area.eltdf-menu-center .eltdf-vertical-align-containers .eltdf-position-center-inner {
  height: 100%;
}

.eltdf-header-standard .eltdf-menu-area.eltdf-menu-center .eltdf-vertical-align-containers .eltdf-position-right:before {
  display: none;
}

.eltdf-header-standard .eltdf-menu-area.eltdf-menu-center .eltdf-vertical-align-containers .eltdf-position-right-inner {
  display: -webkit-flex;
  /* Safari */
  -webkit-align-items: center;
  /* Safari 7.0+ */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%;
}

.eltdf-header-standard .eltdf-menu-area.eltdf-menu-right .eltdf-main-menu {
  width: auto;
}

.eltdf-header-standard .eltdf-menu-area.eltdf-menu-right .eltdf-vertical-align-containers .eltdf-position-right-inner {
  height: 100%;
}

/* ==========================================================================
   Header Standard style - end
   ========================================================================== */
/* ==========================================================================
   Mobile header style - begin
   ========================================================================== */
.eltdf-mobile-header {
  position: relative;
  display: none;
  z-index: 110;
  /* #General mobile header styles
    ========================================================================== */
  /* #End of general mobile header styles
   ========================================================================== */
  /* #Mobile logo styles
    ========================================================================== */
  /* #End of mobile logo styles
    ========================================================================== */
  /* #Mobile menu opener styles
    ========================================================================== */
  /* #End of mobile menu opener styles
    ========================================================================== */
  /* #Mobile menu navigation styles
    ========================================================================== */
  /* #End of mobile menu navigation styles
	========================================================================== */
}

.eltdf-mobile-header .eltdf-mobile-header-inner {
  position: relative;
  height: 70px;
  background-color: #fff;
  border-bottom: 1px solid #d7d7d7;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.eltdf-mobile-header .eltdf-mobile-header-inner .eltdf-mobile-header-holder {
  position: relative;
  z-index: 2;
  height: 100%;
}

.eltdf-mobile-header .eltdf-grid {
  height: 100%;
}

.eltdf-mobile-header .eltdf-vertical-align-containers {
  padding: 0;
}

.eltdf-mobile-header .eltdf-mobile-logo-wrapper a {
  display: block;
}

.eltdf-mobile-header .eltdf-mobile-logo-wrapper img {
  display: block;
  height: 100%;
  width: auto;
}

.eltdf-mobile-header .eltdf-mobile-menu-opener {
  position: relative;
  height: 100%;
  float: left;
  z-index: 2;
}

.eltdf-mobile-header .eltdf-mobile-menu-opener a {
  display: table;
  height: 100%;
  padding-right: 10px;
}

.eltdf-mobile-header .eltdf-mobile-menu-opener a > * {
  position: relative;
  display: table-cell;
  vertical-align: middle;
  line-height: 1em;
}

.eltdf-mobile-header .eltdf-mobile-menu-opener a .eltdf-mobile-menu-text {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  text-transform: inherit;
  padding-left: 5px;
}

.eltdf-mobile-header .eltdf-mobile-menu-opener.eltdf-mobile-menu-opened a {
  color: #222222;
}

.eltdf-mobile-header .eltdf-mobile-menu-opener.eltdf-mobile-menu-opener-icon-pack .eltdf-mobile-menu-icon {
  font-size: 24px;
}

.eltdf-mobile-header .eltdf-mobile-menu-opener.eltdf-mobile-menu-opener-icon-pack .eltdf-mobile-menu-icon * {
  display: block;
  line-height: inherit;
}

.eltdf-mobile-header .eltdf-mobile-menu-opener.eltdf-mobile-menu-opener-icon-pack .eltdf-mobile-menu-icon *:before {
  display: block;
  line-height: inherit;
}

.eltdf-mobile-header .eltdf-mobile-menu-opener.eltdf-mobile-menu-opener-svg-path .eltdf-mobile-menu-icon > * {
  vertical-align: middle;
}

.eltdf-mobile-header .eltdf-mobile-menu-opener.eltdf-mobile-menu-opener-svg-path .eltdf-mobile-menu-icon > *,
.eltdf-mobile-header .eltdf-mobile-menu-opener.eltdf-mobile-menu-opener-svg-path .eltdf-mobile-menu-icon path {
  fill: currentColor;
  stroke: currentColor;
}

.eltdf-mobile-header .eltdf-mobile-nav {
  display: none;
  background-color: #fff;
  border-bottom: 1px solid #d7d7d7;
}

.eltdf-mobile-header .eltdf-mobile-nav ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.eltdf-mobile-header .eltdf-mobile-nav ul li {
  position: relative;
  padding: 0;
  margin: 0;
  -webkit-transform: translateZ(0);
}

.eltdf-mobile-header .eltdf-mobile-nav ul li a, .eltdf-mobile-header .eltdf-mobile-nav ul li h6 {
  position: relative;
  display: block;
  padding: 9px 0;
  margin: 0;
  color: #4d4d4d;
  border-bottom: 1px solid #d7d7d7;
  cursor: pointer;
}

.eltdf-mobile-header .eltdf-mobile-nav ul li a:hover, .eltdf-mobile-header .eltdf-mobile-nav ul li h6:hover {
  color: #222222;
}

.eltdf-mobile-header .eltdf-mobile-nav ul ul {
  display: none;
  margin-left: 15px;
}

.eltdf-mobile-header .eltdf-mobile-nav ul ul li.current-menu-ancestor > a,
.eltdf-mobile-header .eltdf-mobile-nav ul ul li.current-menu-item > a,
.eltdf-mobile-header .eltdf-mobile-nav ul ul li.current-menu-ancestor > h6,
.eltdf-mobile-header .eltdf-mobile-nav ul ul li.current-menu-item > h6 {
  color: #222222;
}

.eltdf-mobile-header .eltdf-mobile-nav ul ul li a, .eltdf-mobile-header .eltdf-mobile-nav ul ul li h6 {
  font-size: 11px;
  line-height: 24px;
}

.eltdf-mobile-header .eltdf-mobile-nav .eltdf-grid > ul > li > a,
.eltdf-mobile-header .eltdf-mobile-nav .eltdf-grid > ul > li > h6 {
  padding-left: 4px;
  font-size: 13px;
}

.eltdf-mobile-header .eltdf-mobile-nav .eltdf-grid > ul > li.eltdf-active-item > a,
.eltdf-mobile-header .eltdf-mobile-nav .eltdf-grid > ul > li.eltdf-active-item > h6 {
  color: #222222;
}

.eltdf-mobile-header .eltdf-mobile-nav .eltdf-grid > ul > li.eltdf-active-item > .mobile_arrow > .eltdf-sub-arrow {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.eltdf-mobile-header .eltdf-mobile-nav .mobile_arrow {
  position: absolute;
  right: 0;
  top: 0;
  width: 50px;
  height: auto;
  padding: 9px 12px 9px 0;
  font-size: 15px;
  line-height: inherit;
  text-align: right;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.eltdf-mobile-header .eltdf-mobile-nav .mobile_arrow:hover {
  cursor: pointer;
}

.eltdf-mobile-header .eltdf-mobile-nav .mobile_arrow .eltdf-sub-arrow {
  line-height: 1;
  -webkit-transition: transform 0.2s ease-in-out;
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  transition: -webkit-transform 0.2s ease-in-out;
  -o-transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
}

.eltdf-mobile-header .eltdf-mobile-nav .mobile_arrow .fa-angle-down {
  display: none;
}

.eltdf-mobile-header .eltdf-mobile-nav li.eltdf-opened > .mobile_arrow > .eltdf-sub-arrow {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.eltdf-mobile-header .eltdf-mobile-nav > ul > li:last-child > a,
.eltdf-mobile-header .eltdf-mobile-nav > .eltdf-grid > ul > li:last-child > a {
  border-bottom: none;
}

/* ==========================================================================
   Mobile header style - end
   ========================================================================== */
/* ==========================================================================
   Sticky Mobile header style - begin
   ========================================================================== */
.eltdf-sticky-up-mobile-header .eltdf-animate-mobile-header .eltdf-mobile-header-inner {
  width: 100%;
  -webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);
  -webkit-transition: -webkit-transform 0.4s ease-in-out, left 0.2s ease, right 0.2s ease;
  -webkit-transition: left 0.2s ease, right 0.2s ease, -webkit-transform 0.4s ease-in-out;
  transition: left 0.2s ease, right 0.2s ease, -webkit-transform 0.4s ease-in-out;
  -o-transition: transform 0.4s ease-in-out, left 0.2s ease, right 0.2s ease;
  transition: transform 0.4s ease-in-out, left 0.2s ease, right 0.2s ease;
  transition: transform 0.4s ease-in-out, left 0.2s ease, right 0.2s ease, -webkit-transform 0.4s ease-in-out;
}

.eltdf-sticky-up-mobile-header .mobile-header-appear .eltdf-mobile-header-inner {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}

/* ==========================================================================
   Sticky Mobile header style - end
   ========================================================================== */
/* ==========================================================================
   Sticky header style - begin
   ========================================================================== */
.eltdf-sticky-header {
  position: fixed;
  top: 0;
  left: 0;
  height: 70px;
  width: 100%;
  z-index: 100;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);
  -webkit-transition: -webkit-transform 0.6s ease;
  transition: -webkit-transform 0.6s ease;
  -o-transition: transform 0.6s ease;
  transition: transform 0.6s ease;
  transition: transform 0.6s ease, -webkit-transform 0.6s ease;
}

.eltdf-sticky-header .eltdf-grid {
  height: 100% !important;
}

.eltdf-sticky-header.header-appear {
  -webkit-transform: translateY(0%);
  -ms-transform: translateY(0%);
  transform: translateY(0%);
}

.admin-bar .eltdf-sticky-header.header-appear {
  top: 32px;
}

.eltdf-sticky-header .eltdf-sticky-holder {
  position: relative;
  height: 100%;
  z-index: 2;
  background-color: #fff;
  border-bottom: 1px solid #d7d7d7;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.eltdf-sticky-header .eltdf-sticky-holder .eltdf-logo-wrapper a {
  max-height: 70px;
}

.eltdf-sticky-header .eltdf-sticky-holder .eltdf-vertical-align-containers {
  padding: 0 40px;
}

.eltdf-sticky-header .eltdf-sticky-holder.eltdf-menu-left .eltdf-main-menu {
  width: auto;
  padding: 0 0 0 20px;
}

.eltdf-sticky-header .eltdf-sticky-holder.eltdf-menu-left .eltdf-vertical-align-containers .eltdf-position-left-inner {
  height: 100%;
}

.eltdf-sticky-header .eltdf-sticky-holder.eltdf-menu-left .eltdf-vertical-align-containers .eltdf-position-right:before {
  display: none;
}

.eltdf-sticky-header .eltdf-sticky-holder.eltdf-menu-left .eltdf-vertical-align-containers .eltdf-position-right-inner {
  display: -webkit-flex;
  /* Safari */
  -webkit-align-items: center;
  /* Safari 7.0+ */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%;
}

.eltdf-sticky-header .eltdf-sticky-holder.eltdf-menu-center .eltdf-vertical-align-containers .eltdf-position-center-inner {
  height: 100%;
}

.eltdf-sticky-header .eltdf-sticky-holder.eltdf-menu-center .eltdf-vertical-align-containers .eltdf-position-right:before {
  display: none;
}

.eltdf-sticky-header .eltdf-sticky-holder.eltdf-menu-center .eltdf-vertical-align-containers .eltdf-position-right-inner {
  display: -webkit-flex;
  /* Safari */
  -webkit-align-items: center;
  /* Safari 7.0+ */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%;
}

.eltdf-sticky-header .eltdf-sticky-holder.eltdf-menu-right .eltdf-main-menu {
  width: auto;
}

.eltdf-sticky-header .eltdf-sticky-holder.eltdf-menu-right .eltdf-vertical-align-containers .eltdf-position-right-inner {
  height: 100%;
}

.eltdf-sticky-header .widget {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
}

/* ==========================================================================
   Sticky header style - end
   ========================================================================== */
/* ==========================================================================
   Top header style - begin
   ========================================================================== */
.eltdf-top-bar {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  height: 34px;
  color: #000;
  font-size: 13px;
  line-height: 1;
  background-color: #fff;
  z-index: 111;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.eltdf-top-bar > .eltdf-vertical-align-containers {
  padding: 0 40px;
}

.eltdf-top-bar .eltdf-vertical-align-containers .eltdf-position-left:before,
.eltdf-top-bar .eltdf-vertical-align-containers .eltdf-position-right:before {
  display: none;
}

.eltdf-top-bar .eltdf-vertical-align-containers .eltdf-position-left-inner,
.eltdf-top-bar .eltdf-vertical-align-containers .eltdf-position-right-inner {
  display: -webkit-flex;
  /* Safari */
  -webkit-align-items: center;
  /* Safari 7.0+ */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%;
}

.eltdf-top-bar .eltdf-grid {
  height: 100%;
}

.eltdf-top-bar .eltdf-grid .eltdf-vertical-align-containers {
  padding-left: 0;
  padding-right: 0;
}

.eltdf-top-bar-in-grid-padding .eltdf-top-bar .eltdf-grid .eltdf-vertical-align-containers {
  padding: 0 40px;
}

.eltdf-top-bar .widget {
  margin: 0;
}

/* ==========================================================================
   Top header style - end
   ========================================================================== */
/* ==========================================================================
   Header styles - end
   ========================================================================== */

/*# sourceMappingURL=header-map.css.map */
